<div class="mb-3">
  <%=label_tag "contact_phone_numbers_attributes_#{index}_number", "Número" %>
  <%= text_field_tag "contact[phone_numbers_attributes][#{index}][number]", nil, class:"form-control"  %>
</div>