<h1>Editing phone number</h1>

<%= render "form", phone_number: @phone_number %>

<br>

<div>
  <%= link_to "Show this phone number", @phone_number %> |
  <%= link_to "Back to phone numbers", phone_numbers_path %>
</div>
